{% extends "index.html" %}

{% block twitter_meta %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@pvillega">
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.summary | as_str | striptags }}" />
<meta name="twitter:image:src" content="{{ get_url(path="/favicon.png")}}">
<meta name="twitter:card" content="summary" />
<meta name="og:site_name" content="Pere Villega's blog">
<meta name="og:type" content="Article" />
<meta name="og:title" content="{{ page.title }}" />
<meta name="og:url" content="{{current_url}}" />
<meta name="og:description" content="{{ page.summary | as_str | striptags }}" />
<meta name="og:image" content="{{ get_url(path="/favicon.png")}}">
{% endblock twitter_meta %}

{% block canonical_url %}
<!-- Mark url as canonical for duplicate content purposes -->
<link rel="canonical" href="{{current_url}}" />
{% endblock canonical_url %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/post-bg.jpg")}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          {{ post_macros::page_header(page=page) }}
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ page.content | safe }}
        {% if page.taxonomies.tags %}
        <div class="post-tags">
          <p>Tags:
            {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
            {% endfor %}
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% endblock content %}
